.vue-danmaku {
    position: relative;
    overflow: hidden;
}
.vue-danmaku .danmus {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.vue-danmaku .danmus.show {
    opacity: 1;
}
.vue-danmaku .danmus.paused .dm.move {
    animation-play-state: paused;
}
.vue-danmaku .danmus p {
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
    white-space: pre;
}
.vue-danmaku .danmus .dm {
    position: absolute;
    color: #fff;
    font-size: 18px;
    right: 0;
    top: 8px;
    white-space: pre;
    text-shadow: 1px 1px 2px #001;
    transform: translateX(100%);
}
.vue-danmaku .danmus .dm.move {
    will-change: transform;
    animation-name: danmaku;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes danmaku {
    from {
      transform: translateX(100%);
    }
}
@-webkit-keyframes danmaku {
    from {
      -webkit-transform: translateX(100%);
    }
}

.demo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: linear-gradient(45deg, #5ac381, #20568b); */
}
  

@media screen and (min-width: 600px) {
    /* Hitokoto Page */
    .hitokoto-fullpage {
        width: 55%;
    }
    .background{
        -webkit-filter: brightness(0.6);
        -ms-filter: brightness(0.6);
        -moz-filter: brightness(0.6);
        filter: brightness(0.6);
        position:absolute;
        width:100%;
        height:100%;
        z-index:-1;
        /* background:url(https://dolyw.gitee.io/reader/Image/201903/normal/12005.png) center no-repeat; */
        background:url() center no-repeat;
        background-size:cover;

    }
    /* Content Style */
    .hitokoto-content {
        /*border-radius: 2px;*/
        padding: 80px 56px;
        margin-bottom: 80px;
    }
    /*Api Introduction Page*/
    .apitable{
        border-collapse: collapse;
    }
    .apitable>tbody>tr>td , .apitable>tbody>tr>th{
        border:1px   solid  #d7d7d7;
    }

    .hitokoto-fullpage .word {
        line-height: 2.5rem !important;
    }

    .hitokoto-fullpage .bracket {
        font-size: 25px;
    }

    .hitokoto-fullpage .word {
        font-size: 1.75rem;
        padding: 15px 50px;
    }
    
    .hitokoto-fullpage .author {
        font-size: 16px;
    }
    
}
@media screen and (max-width: 600px) {
    .mdl-layout__drawer-button {
        color: #fff;
    }
    .apitable{
        border-collapse: collapse;
    }
    .apitable>td,.apitable>th{
        border:1px   solid  #d7d7d7;
    }
    /* Hitokoto Page */
    .hitokoto-fullpage {
        margin-bottom: 10vh !important;
    }

    .hitokoto-fullpage .word {
        line-height: 2.0rem !important;
    }

    .background{
        -webkit-filter: brightness(0.6);
        filter: brightness(0.6);
        position:absolute;
        width:100%;
        height:100%;
        z-index:-1;
        background:url(https://dolyw.gitee.io/reader/Image/201901/normal/11005.png) center no-repeat;
        background-size:cover;
    }
    /* Content Style */
    .hitokoto-content {
        /*border-radius: 2px;*/
        padding: 15px;
    }

    .hitokoto-fullpage .bracket {
        font-size: 20px;
    }

    .hitokoto-fullpage .word {
        font-size: 1.5rem;
        padding: 10px 35px;
    }
    
    .hitokoto-fullpage .author {
        font-size: 14px;
    }
    

}
/* Hitokoto Page */
.hitokoto-fullpage {
    position: relative;
    color: white;
    z-index: 1;
    margin-top: 35vh;
    margin-bottom: 35vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '寰蒋闆呴粦', Arial, sans-serif;
}

.hitokoto-fullpage .bracket.left {
    position: absolute;
    left: 0;
    top: 0;
}

.hitokoto-fullpage .bracket.right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hitokoto-fullpage .word {
    text-align: center;
    line-height: 50px;
    word-break: normal;
    margin: 0;
}

.hitokoto-fullpage .author {
    color: rgba(255, 255, 255, 0.8);
    float: right;
    margin-top: 20px;
}

/* About Page */
header{
    box-shadow:0px 0px 3px #000000;
}
.hitokoto-ribbon {
    width: 100%;
    height: 25vh;
    background-color: #3F51B5;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.hitokoto-main {
    margin-top: -20vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.hitokoto-container {
    max-width: 1800px;
    width: calc(100% - 16px);
    margin: 20px auto 20px auto;
}

.hitokoto-container .mdl-shadow--2dp,
.hitokoto-container .mdl-cell--8-col {
  margin: 0 auto;
}

.hitokoto-container .mdl-cell--2-col {
  display: none;
}

.hitokoto-layout.is-small-screen .demo-content {
    padding: 40px 28px;
}

.ticket-table tr td p {
    margin: 0;
    line-height: 0px;
}

.uploaded {
    height: 150px;
    margin: 0 10px 0 0;
    box-shadow: 0 0 10px #CCC;
}

.pd-30 {
    padding: 30px;
}

.expanded {
    width: 100%;
}

.progress-wrap {
    margin-top:10px;
    margin-bottom:10px;
}

.picbox {
    padding-top:0;
    padding-bottom:10px;
}

.fix-reply-container {
    max-width: 1250px;
    margin: 0;
}

.fix-reply-container p {
    width: 100%;
}
/*Api Introduction Page*/
.apitable{
    border-collapse: collapse;
}
.apitable>tbody>tr>td , .apitable>tbody>tr>th{
    border:1px   solid  #d7d7d7;
}
/* Login & Register Page */