/* Snow Start */
#Snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(125, 137, 95, 0.1);
    pointer-events: none;
}
/* Snow End */

body {
    /* 隐藏滚动条 */
    /* overflow-x: hidden;     
    overflow-y: hidden; */
    overflow: hidden;
    /* 鼠标默认显示 */
    cursor: url(https://note.wang64.cn/images/cursor.ico), auto;
}

#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    /* background-image: url("https://wang926454.gitee.io/reader/Image/201810/normal/20010.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.layui-tab-card>.layui-tab-title {
    background-color: #ffffff00;
}

.layui-tab-card>.layui-tab-title .layui-this {
    background-color: rgba(255, 255, 255, 0.5);
}

.layui-tab-content {
    /* background-color: #ffffff; */
    height: auto;
}